.page-content {
  max-width: 600px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

.featured-image img {
  align: middle;
  margin: 5px auto 25px;
  display: block;
  max-width: 600px;
}

@media (max-width: $container-width) {
  .page-content {
    width: 60vw;
    display: block;
    margin: 10px auto 10px;
  }

  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}

@media (max-width: $tablet-width) {
  .page-content {
    width: 95vw;
    display: block;
    margin: 10px auto 10px;
  }

  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 95vw;
  }
}
